@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f6f2e9;
}

@font-face {
    font-family: "SaolDisplay-Light";
    src: url("https://db.onlinewebfonts.com/t/7b9ef47e477d7db975da9dda4b155d02.eot");
    src: url("https://db.onlinewebfonts.com/t/7b9ef47e477d7db975da9dda4b155d02.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/7b9ef47e477d7db975da9dda4b155d02.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/7b9ef47e477d7db975da9dda4b155d02.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/7b9ef47e477d7db975da9dda4b155d02.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/7b9ef47e477d7db975da9dda4b155d02.svg#SaolDisplay-Light") format("svg");
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.swiper-pagination {
    position: absolute !important;
    top: 40% !important;
    left: 8% !important;
    transform: translateY(-50%) !important;
    display: flex !important;
    flex-direction: column !important;
}
.swiper-pagination-bullet {
    background-color: black !important;
}
.animated_svg_style svg{
    display: inline;
    width: 80px;
    height: 80px;
    position: relative;
    top: -8px;
}
.animated_text_style{
    font-size: 3rem;
    line-height: 5rem;

}